<nav class="p-3 mb-3 fixed-top" style="background-color: #7f9288;">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/profile" class="white-link col-lg-1 link-body-emphasis text-decoration-none">
          <div>
            <h4 class="mb-0"><i class="bi bi-emoji-laughing-fill"></i> Perfil </h4>
          </div>
        </a>

        <a routerLink="/tabla" class="white-link col-lg-4 link-body-emphasis text-decoration-none">
          <div>
            <h4 class="mb-0"><i class="bi bi-file-earmark-check"></i> Registrar </h4>
          </div>
        </a>

      </div>
    </div>
  </nav>